<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
    <span class="breadcrumbs">
      <a routerLink="/">Site</a> |
      <span> Sobre nós</span>
    </span>
  </div>
</div>
<!-- inner-banner-bottom -->
<div class="w3ls-section">
  <div class="container">
    <h4 class="main-title">Sobre nós</h4> <br><br>

    <div class="col-md-6 inner-banner">
      <h4 class="title-about about text-center"> deixe para nós
        <span>casa completa</span> Serviço
        <span>Limpo</span>
      </h4>
    </div>
    <div class="col-md-6 inner-main-bg">
      <div class="inner-bg-layer"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- //inner-banner-bottom  -->
<!-- about -->
<div class="agile-about-main">
  <div class="col-md-4 about-left">
    <div class="about-main-bg text-center">
      <h4 class="about-title">Porque</h4>
      <h4 class="sub">
        <span>N</span>os
        <span>E</span>scolher?</h4>
    </div>
  </div>
  <div class="col-md-8 about-bottom-g1">
    <h4>Uma solução rápida para uma manutenção residencial completa</h4>
    <!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
    <div class="about-grid">
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-check"> </span>
        </div>
        <div class="about-bottom">
          <h5>Visão</h5>
          <p>Consectetur adipiscing elit estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
        </div>
        <div class="about-bottom">
          <h5>Acessibilidade</h5>
          <p>Elit consectetur adipiscing estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-photo"> </span>
        </div>
        <div class="about-bottom">
          <h5>Qualidade</h5>
          <p>Consectetur adipiscing elit estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
        </div>
        <div class="about-bottom">
          <h5>Suporte 24/7</h5>
          <p>Adipiscing consectetur elit estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="abt-img">
      <img src="../../../../assets/images/a1.png" alt="" class="img-responsive"/>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>
<!-- //about -->
<!-- Stats -->
<div class="w3ls-section  stats">
  <div class="container">
    <h5>No tempo, no orçamento, no escopo e com qualidade.</h5>
    <div class="stats-aboutinfo services-main">
      <div class="col-sm-3 col-xs-3 agileits_w3layouts-stats-grids text-center">
        <div class="stats-icon">
          <span class="fa fa-users" aria-hidden="true"></span>
        </div>
        <div class="stats-right">
          <h6>Clientes</h6>
          <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1130' data-delay='1'
               data-increment="10">1130
          </div>

        </div>
      </div>
      <div class="col-sm-3 col-xs-3 agileits_w3layouts-stats-grids text-center">
        <div class="stats-icon">
          <span class="fa fa-shield" aria-hidden="true"></span>
        </div>
        <div class="stats-right">
          <h6>Filiais</h6>
          <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1' data-delay='1'
               data-increment="1">1
          </div>

        </div>

      </div>
      <div class="col-sm-3 col-xs-3 agileits_w3layouts-stats-grids text-center">
        <div class="stats-icon">
          <span class="fa fa-external-link" aria-hidden="true"></span>
        </div>
        <div class="stats-right">
          <h6>Projetos</h6>
          <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='340' data-delay='1'
               data-increment="1">340
          </div>

        </div>
      </div>
      <div class="col-sm-3 col-xs-3 agileits_w3layouts-stats-grids text-center">
        <div class="stats-icon">
          <span class="fa fa-book" aria-hidden="true"></span>
        </div>
        <div class="stats-right">
          <h6>Outros</h6>
          <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='623' data-delay='1'
               data-increment="1">623
          </div>

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //Stats -->
<!-- about-slid -->
<div class="about-slid">
  <div class="container">
    <h6 class="slid">Serviços profissionais, eficientes e confiáveis</h6>
  </div>
</div>
<!-- //about-slid -->
<!-- what we do -->
<div id="news" class="w3ls-section">
  <div class="container">
    <h4 class="main-title">O que nós fazemos?</h4>
    <div class="news-aboutinfo services-main">
      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/g4.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Manutenção doméstica</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/r2.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Reparos e Prevenção</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/g7.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Melhorias</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/s3.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Rede de computadores</h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/g2.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Serviços elétricos </h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>

      <div class=" col-md-4 col-sm-6 about-innergrids">
        <div class="agileits-news-gridtext">
          <div class="news-gridimg">
            <a routerLink="/single">
              <img src="../../../../assets/images/r1.jpg" class="img-responsive zoom-img" alt=""/>
            </a>
          </div>
          <div class="news-gridimgtext">
            <a routerLink="/single">
              <h4>Pequenas Obras </h4>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at
              sollicitudin. </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
</div>
<!-- //what we do -->

<!-- team -->
<div id="team" class="w3ls-section team">
  <div class="container">
    <h4 class="main-title">Conheça nosso time</h4>
    <div class="services-main">
      <div class="col-md-7 team-grid1">
        <!-- <h4 class="sub1">your complete home solution</h4> -->
        <h4 class="sub1">nossa equipe dinâmica e dedicada trabalhando para construir uma solução única!</h4>
      </div>
      <div class="col-md-5 team-main-grid">
        <div class="team-row">
          <div class="col-md-6 col-xs-6 team-grids">
            <div class="team-gridimg">
              <img class="img-responsive" src="../../../../assets/images/m1.jpg" alt="">
              <div class="captn">
                <div class="captn-top">
                  <h4>Newton</h4>
                  <p>Diretor Geral</p>
                </div>
                <div class="social-teamicon teaminfo-social-grids">
                  <ul>
                    <li>
                      <a href="#">
                        <span class="fa fa-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-rss"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 team-grids">
            <div class="team-gridimg">
              <img class="img-responsive" src="../../../../assets/images/m4.jpg" alt="">
              <div class="captn">
                <div class="captn-top">
                  <h4>Guilherme</h4>
                  <p>Recursos Humanos</p>
                </div>
                <div class="social-teamicon teaminfo-social-grids">
                  <ul>
                    <li>
                      <a href="#">
                        <span class="fa fa-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-rss"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 team-grids">
            <div class="team-gridimg">
              <img class="img-responsive" src="../../../../assets/images/m1.jpg" alt="">
              <div class="captn">
                <div class="captn-top">
                  <h4>Newton</h4>
                  <p>Diretor de Riscos</p>
                </div>
                <div class="social-teamicon teaminfo-social-grids">
                  <ul>
                    <li>
                      <a href="#">
                        <span class="fa fa-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-rss"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 team-grids">
            <div class="team-gridimg">
              <img class="img-responsive" src="../../../../assets/images/m4.jpg" alt="">
              <div class="captn">
                <div class="captn-top">
                  <h4>Guilherme</h4>
                  <p>Diretor financeiro</p>
                </div>
                <div class="social-teamicon teaminfo-social-grids">
                  <ul>
                    <li>
                      <a href="#">
                        <span class="fa fa-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="fa fa-rss"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //team -->

<!--client-->
<div class="testimonials w3ls-section">
  <div class="container">
    <h4 class="main-title">O que nossos clientes dizem</h4>
    <div class="services-main  client">
      <!--screen-gallery-->
      <div class="sreen-gallery-cursual">

        <div id="owl-demo" class="owl-carousel">
          <div class="item-owl">
            <div class="customer-say">
              <div class="customer-grid">
                <div class="de_testi">
                  <div class="quotes">
                    <img src="../../../../assets/images/10.jpg" alt="">
                  </div>
                  <div class="de_testi_by">
                    <h6>adipisicing elit</h6>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore
                      magna aliqua.</p>
                    <a href="#">André Alves </a>, Cliente
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>
          </div>
          <div class="item-owl">
            <div class="customer-say">
              <div class="customer-grid">
                <div class="de_testi">
                  <div class="quotes">
                    <img src="../../../../assets/images/11.jpg" alt="">
                  </div>
                  <div class="de_testi_by">
                    <h6>eiusmod tempor</h6>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore
                      magna aliqua.</p>
                    <a href="#">Nelson Dantas</a>, Cliente
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>
          </div>
          <div class="item-owl">
            <div class="customer-say">
              <div class="customer-grid">
                <div class="de_testi">
                  <div class="quotes">
                    <img src="../../../../assets/images/12.jpg" alt="">
                  </div>
                  <div class="de_testi_by">
                    <h6>incididunt labore</h6>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore
                      magna aliqua.</p>
                    <a href="#">Luis Silva</a>, Cliente
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--//screen-gallery-->
      </div>
    </div>
    <!--//client-->
  </div>
</div>
