<!-- banner bottom -->
<div class="banner-btm">
  <div class="container">
    <div class="banner-bottom-main">
      <div class="col-md-4 banner-btmg1">
        <div class="form-text">
          <h3>Procurando por um Faz-Tudo?</h3>
          <p>Nós resolvemos as suas necessidades de reparos domésticos!</p>
          <img src="../../../../assets/images/f1.png" alt=""/>
        </div>
        <form #fcontact="ngForm" (ngSubmit)="onSubmitContact(fcontact)" class="banner_form">
          <div class="sec-left" [class.has-error]="!fname.valid && fname.touched">
            <label class="contact-form-text control-label" for="fname">Nome</label>
            <input placeholder="Seu nome " id="fname" name="name" type="text" required [(ngModel)]="contactForm.name" #fname="ngModel">
            <div class="text-error" *ngIf="!fname.valid && fname.touched">Nome é obrigatório</div>
          </div>
          <div class="sec-right" [class.has-error]="!fmail.valid && fmail.touched">
            <label class="contact-form-text control-label" for="fmail">E-mail</label>
            <input placeholder="xxx@xx.com.br " id="fmail" name="email" type="email" required email [(ngModel)]="contactForm.email" #fmail="ngModel">
            <div class="text-error" *ngIf="!fmail.valid && fmail.touched">E-mail inválido</div>
          </div>
          <div class="sec-left" [class.has-error]="!fmobile.valid && fmobile.touched">
            <label class="contact-form-text control-label" for="fmobile">Celular</label>
            <input placeholder="(99) 99999-9999" id="fmobile" name="mobile" type="text" required [(ngModel)]="contactForm.mobile" #fmobile="ngModel">
            <div class="text-error" *ngIf="!fmobile.valid && fmobile.touched">Celular é obrigatório</div>
          </div>
          <div class="form-tx" [class.has-error]="!faddress.valid && faddress.touched">
            <label class="contact-form-text" for="faddress">Endereço</label>
            <textarea placeholder="Seu endereço" id="faddress" name="address" required [(ngModel)]="contactForm.address" #faddress="ngModel"></textarea>
            <div class="text-error" *ngIf="!faddress.valid && faddress.touched">Endereço é obrigatório</div>
          </div>
          <div class="form-select sec-right" [class.has-error]="!fservice.valid && fservice.touched">
            <label class="contact-form-text control-label" for="fservice">Escolha o serviço</label>
            <select id="fservice" name="service" required [(ngModel)]="contactForm.service" #fservice="ngModel">
              <option value="0">---- Escolha ----</option>
              <option value="1">Serviço elétrico</option>
              <option value="2">Serviço de encanamento</option>
              <option value="3">Rede de computadores</option>
              <option value="4">Obra civil</option>
              <option value="5">Pintura</option>
              <option value="6">Outro</option>
            </select>
            <div class="text-error" *ngIf="!fservice.valid && fservice.touched">Serviço é obrigatório</div>
          </div>
          <input type="submit" value="Enviar" [disabled]="!fcontact.valid" [class.btn-disabled]="!fcontact.valid">
        </form>
      </div>
      <div class="col-md-8 banner-btm-grid2">
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>Manutenção</h3>
            <p>A manutenção pode compreender uma série de serviços simples até questões mais estruturais. </p>
            <span class="fa fa-cog" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
          <div class="banner-subg1">
            <h3>Pequenas Obras</h3>
            <p>Não importa o tamanho da sua necessidade, estaremos sempre prontos para atende-la.</p>
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>

        </div>
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>Reparos</h3>
            <p>Serviços completos de reparos compreendendo dos mais simples aos mais complicados.</p>
            <span class="fa fa-yelp" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
          <div class="banner-subg1">
            <h3>Melhorias</h3>
            <p>A busca incansável por uma condição melhor para seu patrimônio será sempre nossa meta.</p>
            <span class="fa fa-gg" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //banner bottom -->
<!-- about -->
<div class="agile-about-main">
  <div class="col-md-4 about-left">
    <div class="about-main-bg text-center">
      <h4 class="about-title">Porque</h4>
      <h4 class="sub">
        <span>N</span>os
        <span>E</span>scolher?</h4>
    </div>
  </div>
  <div class="col-md-8 about-bottom-g1">
    <h4>Uma solução rápida para uma manutenção residencial completa</h4>
    <!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
    <div class="about-grid">
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-check"> </span>
        </div>
        <div class="about-bottom">
          <h5>Visão</h5>
          <p>Elevar o padrão de qualidade dos nossos serviços ao Estado da Arte.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
        </div>
        <div class="about-bottom">
          <h5>Acessibilidade</h5>
          <p>É um atributo essencial do ambiente que garante a melhoria da qualidade de vida das pessoas. </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-photo"> </span>
        </div>
        <div class="about-bottom">
          <h5>Qualidade</h5>
          <p>Excelência dos produtos e serviços atendendo às necessidades dos clientes.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
        </div>
        <div class="about-bottom">
          <h5>Suporte 24/7</h5>
          <p>Possuímos serviço de suporte técnico 24 horas por dia, todos os dias da semana. </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="abt-img">
      <img src="../../../../assets/images/a1.png" alt="" class="img-responsive"/>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>

<!-- //about -->
<!--  about bottom -->
<div class="w3ls-section">
  <div class="container">
    <div class="main-bottom">
      <div class="col-md-6 col-sm-6 mb-left">

      </div>
      <div class="col-md-6 col-sm-6 mb-right">
        <h4>Serviço em que você pode confiar</h4>
        <p>Proteja todos os seus eletrodomésticos e sistemas.</p>
        <a routerLink="/services">Veja todos os nossos serviços</a>
      </div>

    </div>
  </div>
</div>
<!--  //about bottom -->


