<!-- banner bottom -->
<div class="banner-btm">
  <div class="container">
    <div class="banner-bottom-main">
      <div class="col-md-4 banner-btmg1">
        <div class="form-text">
          <h3>Procurando por um Faz-Tudo?</h3>
          <p>Nós resolvemos as suas necessidades de reparos domésticos!</p>
          <img src="../../../../assets/images/f1.png" alt=""/>
        </div>
        <form action="#" method="post" class="banner_form">
          <div class="sec-left">
            <label class="contact-form-text">Nome</label>
            <input placeholder="Seu nome " name="name" type="text" required="">
          </div>
          <div class="sec-right">
            <label class="contact-form-text">Email</label>
            <input placeholder="xxx@xx.com.br " name="email" type="email" required="">
          </div>
          <div class="sec-left">
            <label class="contact-form-text">Celular</label>
            <input placeholder="(99) 99999-9999" name="mobile" type="text" required="">
          </div>
          <div class="form-tx">
            <label class="contact-form-text">Endereço</label>
            <textarea placeholder="Seu endereço" required=""></textarea>
          </div>
          <div class="form-select sec-right">
            <label class="contact-form-text">Escolha o serviço</label>
            <select>
              <option value="0">---- Escolha ----</option>
              <option value="1">Serviço Elétrico</option>
              <option value="2">Serviço de encanamento</option>
              <option value="3">Rede de computadores</option>
              <option value="4">Obra Civil</option>
              <option value="5">Pintura</option>
              <option value="6">Outro</option>
            </select>
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="col-md-8 banner-btm-grid2">
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>Manutenção</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit estibulum nibh urna scing.</p>
            <span class="fa fa-cog" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
          <div class="banner-subg1">
            <h3>Pequenas Obras</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit estibulum nibh urna scing.</p>
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>

        </div>
        <div class="col-md-4 banner-grid2">
          <div class="banner-subg1">
            <h3>Reparos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit estibulum nibh urna scing.</p>
            <span class="fa fa-yelp" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
          <div class="banner-subg1">
            <h3>Melhorias</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit estibulum nibh urna scing.</p>
            <span class="fa fa-gg" aria-hidden="true"></span>
            <div class="read-btn">
              <a routerLink="/about">veja mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //banner bottom -->
<!-- about -->
<div class="agile-about-main">
  <div class="col-md-4 about-left">
    <div class="about-main-bg text-center">
      <h4 class="about-title">Porque</h4>
      <h4 class="sub">
        <span>N</span>os
        <span>E</span>scolher?</h4>
    </div>
  </div>
  <div class="col-md-8 about-bottom-g1">
    <h4>Uma solução rápida para uma manutenção residencial completa</h4>
    <!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
    <div class="about-grid">
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-check"> </span>
        </div>
        <div class="about-bottom">
          <h5>Visão</h5>
          <p>Elevar o padrão de qualidade dos nossos serviços ao Estado da Arte.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
        </div>
        <div class="about-bottom">
          <h5>Acessibilidade</h5>
          <p>Elit consectetur adipiscing estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-photo"> </span>
        </div>
        <div class="about-bottom">
          <h5>Qualidade</h5>
          <p>Consectetur adipiscing elit estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class=" about-bottom-right">
        <div class="abouthome-grid">
          <span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
        </div>
        <div class="about-bottom">
          <h5>Suporte 24/7</h5>
          <p>Adipiscing consectetur elit estibulum nibh urna</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="abt-img">
      <img src="../../../../assets/images/a1.png" alt="" class="img-responsive"/>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>

<!-- //about -->
<!--  about bottom -->
<div class="w3ls-section">
  <div class="container">
    <div class="main-bottom">
      <div class="col-md-6 col-sm-6 mb-left">

      </div>
      <div class="col-md-6 col-sm-6 mb-right">
        <h4>Serviço em que você pode confiar</h4>
        <p>Proteja todos os seus eletrodomésticos e sistemas.</p>
        <a routerLink="/services">Veja todos os nossos serviços</a>
      </div>

    </div>
  </div>
</div>
<!--  //about bottom -->


