<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
			<span class="breadcrumbs">
				<a routerLink="/">Site</a> |
				<span> Serviços</span>
			</span>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- /services -->
<div class="services w3ls-section">
  <div class="container">
    <h4 class="main-title">Serviços oferecidos</h4>
    <div class="services-main">
      <div class="col-md-4 serv-grid1">
        <!-- <h4 class="sub1">your complete home solution</h4> -->
        <h4 class="sub1">Os serviços que você precisa, vamos fornecer na sua porta</h4>

      </div>
      <div class="col-md-8 serv-grid2">
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t8.png" alt="" />
          <h5>Serviços elétricos</h5>
        </div>
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t5.png" alt="" />
          <h5>Rede computadores</h5>
        </div>
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t3.jpg" alt="" />
          <h5>Reparos e prevenção</h5>
        </div>
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t6.png" alt="" />
          <h5>Serviços domésticos</h5>
        </div>
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t7.png" alt="" />
          <h5>Serviço de pintura</h5>
        </div>
        <div class="col-md-4 serv-sub1">
          <img src="../../../../assets/images/t2.jpg" alt="" />
          <h5>Melhorias</h5>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //services -->
<!--<div class="container">
  <div class="single-left serv-bottom">
    <h5 class="main-title">Serviços domésticos completos
    </h5>
    <div class="post-media col-md-7">
      <img src="../../../../assets/images/g6.jpg" class="img-responsive" alt="">
      <div class="blog-text">
        <h5>Quo modo autem philosophus</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo
          Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita?
          Bonum incolumis acies: misera caecitas. Favorite</p>
      </div>
    </div>
    <div class="all-comments col-md-5">
      <div class="media-grids">
        <div class="w3l-media">
          <h5>Serviços de canalização</h5>
          <div class="media-body">
            <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
              ex pretium hendrerit</p>
            <a routerLink="/projects"> Veja mais </a>
          </div>
        </div>
        <div class="w3l-media">
          <h5>Serviços elétricos</h5>
          <div class="media-body">
            <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
              ex pretium hendrerit</p>
            <a routerLink="/projects"> Veja mais </a>
          </div>
        </div>
        <div class="w3l-media">
          <h5>Serviços de pintura</h5>
          <div class="media-body">
            <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
              ex pretium hendrerit</p>
            <a routerLink="/projects"> Veja mais </a>
          </div>
        </div>

      </div>


    </div>
    <div class="clearfix"></div>
  </div>
</div>-->
<div class="w3ls-section app-head">
  <div class="container">
    <div class="col-md-4 col-sm-4 app-mobile">
      <img src="../../../../assets/images/mobile1.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8 col-sm-8 app-main">
      <h6>Serviços de casa
        <span>na ponta dos dedos!</span>
      </h6>
      <div class="app-form">
        <p>Forneça o link SMS para baixar aplicativo gratuito </p>
        <form action="#" method="post" class="banner_form">
          <div class="sec-left">
            <input placeholder="Entre o número do seu celular" name="mobile" type="text" required="">
          </div>
          <input type="submit" value="baixe o app">
          <div class="clearfix"></div>
        </form>
      </div>
      <ul class="app-links">
        <li>
          <a href="#">
            <img src="../../../../assets/images/1.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../../assets/images/2.png" alt="">
          </a>
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

