<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
			<span class="breadcrumbs">
				<a routerLink="/">Site</a> |
				<span>Entre em Contato</span>
			</span>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- contact -->
<div class="w3ls-section banner-single">
  <div class="container">
    <h4 class="main-title">Entre em contato</h4>
    <div class="about-inner-main">
      <div class="col-md-6 contact-left">
        <div class="agile-contact-top">
          <h4>Endereço </h4>
          <p>QNE 04 - Casa 06 - Taguatinga - Brasília - DF</p>
        </div>
        <div class="contact-bottom">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.797675308729!2d-48.066053234565274!3d-15.814618839038658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3323168965db%3A0xd74cd61fb817632!2sSt.+E+Norte+QNE+6+-+Taguatinga%2C+Bras%C3%ADlia+-+DF%2C+72125-070!5e0!3m2!1spt-BR!2sbr!4v1540226356138"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col-md-6 w3layouts-reg-form contact-form-row-agileinfo">
        <h4 class="form-con-txt">Envie-nos um E-mail</h4>
        <form action="#" method="post" class="banner_form contact-inner-form">
          <div class="contact-form-left contact-field1">
            <div class="sec-left">
              <label class="contact-form-text">Nome</label>
              <input placeholder="Seu nome " name="first name" type="text" required="">
            </div>
            <div class="sec-right">
              <label class="contact-form-text">Email</label>
              <input placeholder="xxx@xx.com.br " name="first name" type="email" required="">
            </div>
          </div>
          <div class="contact-form-right contact-field2">
            <input type="submit" value="Enviar">
          </div>
          <div class="clearfix"></div>
          <div class="form-tx contact-field3">
            <label class="contact-form-text">Endereço</label>
            <textarea placeholder="Seu endereço" required=""></textarea>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- contact -->
<div class="w3ls-section app-head">
  <div class="container">
    <div class="col-md-4 col-sm-4 app-mobile">
      <img src="../../../../assets/images/mobile.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8 col-sm-8 app-main">
      <h6>Serviços de casa
        <span>na ponta dos dedos!</span>
      </h6>
      <div class="app-form">
        <p>forneça o link SMS para baixar aplicativo gratuito </p>
        <form action="#" method="post" class="banner_form">
          <div class="sec-left">
            <input placeholder="Entre o número do seu celular" name="mobile" type="text" required="">
          </div>
          <input type="submit" value="baixe o app">
          <div class="clearfix"></div>
        </form>
      </div>
      <ul class="app-links">
        <li>
          <a href="#">
            <img src="../../../../assets/images/1.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../../assets/images/2.png" alt="">
          </a>
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
