<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
    <span class="breadcrumbs">
      <a routerLink="/">Site </a> |
      <span> Status</span>
    </span>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- track order -->

<div class="w3ls-section">
  <div class="container">
    <div class="register-top">
      <div class="col-md-5 col-sm-5 register-left">
        <img src="../../../../assets/images/order.jpg" alt="" class="img-responsive"/>
      </div>
      <div class="col-md-7 col-sm-7 register-right">
        <form action="#" method="post" class="banner_form">
          <h6>Procurar a ordem do serviço</h6>
          <div class="sec-right">
            <label class="contact-form-text">Email</label>
            <input placeholder="xxx@xx.com.br " name="email" type="email" required="">
          </div>
          <div class="sec-left">
            <label class="contact-form-text">Número do celular registrado</label>
            <input placeholder=" (99) 99999-9999" name="mobile" type="text" required="">
          </div>
          <input type="submit" value="Enviar">
        </form>
        <a href="#register" class="scroll">Usuário novo, registre-se aqui</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //track order -->

<div class="w3ls-section app-head">
  <div class="container">
    <div class="col-md-4 col-sm-4 app-mobile">
      <img src="../../../../assets/images/mobile1.png" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8 col-sm-8 app-main">
      <h6>Serviços de casa
        <span>na ponta dos dedos!</span>
      </h6>
      <div class="app-form">
        <p>Forneça o link SMS para baixar aplicativo gratuito </p>
        <form action="#" method="post" class="banner_form">
          <div class="sec-left">
            <input placeholder="Entre o número do seu celular" name="mobile" type="text" required="">
          </div>
          <input type="submit" value="baixe o app">
          <div class="clearfix"></div>
        </form>
      </div>
      <ul class="app-links">
        <li>
          <a href="#">
            <img src="../../../../assets/images/1.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../../assets/images/2.png" alt="">
          </a>
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- register -->

<div class="w3ls-section banner-single" id="register">
  <div class="container">
    <h4 class="main-title">Seja cadastrado!</h4>
    <div class="about-inner-main">
      <div class="col-md-5 reg-img">
        <img src="../../../../assets/images/girl.png" alt="" class="img-responsive"/>
      </div>
      <div class="col-md-7  w3layouts-reg-form">
        <form action="#" method="post" class="banner_form">
          <p>Por favor, preencha seus dados como mencionado abaixo </p>
          <div class="sec-left">
            <label class="contact-form-text">Nome</label>
            <input placeholder="Seu nome " name="name" type="text" required="">
          </div>
          <div class="sec-right">
            <label class="contact-form-text">Email</label>
            <input placeholder="xxx@xx.com.br " name="email" type="email" required="">
          </div>
          <div class="sec-left">
            <label class="contact-form-text">Celular</label>
            <input placeholder=" (99) 99999-99999" name="mobile" type="text" required="">
          </div>
          <div class="form-tx">
            <label class="contact-form-text">Endereço</label>
            <textarea placeholder="Seu endereço" required></textarea>
          </div>
          <div class="form-select sec-left">
            <label class="contact-form-text">Categoria</label>
            <select>
              <option value="0">---- Selecione ----</option>
              <option value="1">Serviço Elétrico</option>
              <option value="2">Serviço de encanamento</option>
              <option value="3">Rede de computadores</option>
              <option value="4">Obra Civil</option>
              <option value="5">Pintura</option>
              <option value="6">Outro</option>
            </select>
          </div>
          <div class="form-select sec-right">
            <label class="contact-form-text">Área</label>
            <select>
              <option value="0">---- Selecione ----</option>
              <option value="1">área1</option>
              <option value="2">área2</option>
              <option value="3">área3</option>
              <option value="4">área4</option>
              <option value="5">área5</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="form-select">
            <label class="contact-form-text">Selecione o plano</label>
            <select>
              <option value="0">---- Selecione ----</option>
              <option value="1">Plano normal (grátis)</option>
              <option value="2">Primeira preferência R$135/mês</option>
              <option value="3">Segunda preferência R$145/mês</option>
              <option value="4">Terceira preferência R$300/mês</option>
            </select>
          </div>
          <div class="wthree-text">
            <ul>
              <li>
                <label class="anim">
                  <input type="checkbox" class="checkbox">
                  <span> Eu aceito os termos e condições</span>
                </label>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <input type="submit" value="Enviar">
        </form>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //register -->
