<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
    <span class="breadcrumbs">
      <a routerLink="/">Site </a> |
      <a routerLink="/about"> Sobre nós </a> |
      <span> Simples</span>
    </span>
  </div>
</div>
<!--single -->
<div class="w3ls-section">
  <div class="container">

    <div class="single-left">
      <h5 class="main-title">Serviços de canalização
      </h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g6.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>Vazamentos de água</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>válvulas de esfera</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>torneiras/pias/radiadores</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>
    <div class="single-left">
      <h5 class="main-title">Serviço de Limpeza</h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g8.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>aspirador de chão e escadas</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>quadro de base</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>mobília</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>

    <div class="single-left">
      <h5 class="main-title">serviços elétricos</h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g2.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>solução de problemas</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>Troca da fiação</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>reparos e instalações</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>
    <div class="single-left">
      <h5 class="main-title">serviços de pintura</h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/r1.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>residencial em geral</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>comercial em geral</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>exterior e interior</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a routerLink="/projects">Veja mais</a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
<!-- //single -->
