<!-- breadcrumbs -->
<div class="breadcrumbs-w3l">
  <div class="container">
    <span class="breadcrumbs">
      <a routerLink="/">Site </a> |
      <a routerLink="/about"> Sobre nós </a> |
      <span> Simples</span>
			</span>
  </div>
</div>
<!--single -->
<div class="w3ls-section">
  <div class="container">

    <div class="single-left">
      <h5 class="main-title">plumbing services
      </h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g6.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>water leaks</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>ball valves</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>taps/sinks/radiators</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>
    <div class="single-left">
      <h5 class="main-title">cleaning services
      </h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g8.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>floor and stairs vaccum</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>base board</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>furniture</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>

    <div class="single-left">
      <h5 class="main-title">electrical services
      </h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/g2.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>trouble shooting</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>re wiring</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>repairs & installation</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>
    <div class="single-left">
      <h5 class="main-title">painting services
      </h5>
      <div class="post-media col-md-7">
        <img src="../../../../assets/images/r1.jpg" class="img-responsive" alt="">
        <div class="blog-text">
          <h5>Quo modo autem philosophus</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus
            loquitur? Duo
            Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque,
            aliter in vita?
            Bonum incolumis acies: misera caecitas. Favorite</p>
        </div>
      </div>
      <div class="all-comments col-md-5">
        <div class="media-grids">
          <div class="w3l-media">
            <h5>resedential</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>commercial</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>
          <div class="w3l-media">
            <h5>exterior & interior</h5>
            <div class="media-body">
              <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas
                imperdiet ipsum id
                ex pretium hendrerit</p>
              <a href="projects.html"> view more </a>
            </div>
          </div>

        </div>


      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
<!-- //single -->
